<h4>currently playing:</h4>
<% if @stream1.nil? %>
  <h2 style="font-size: 30px; color:#fff" id="artist-data-1">couldn't load stream</h2>
  <h2 style="font-size: 20px; color:#eee" id="track-data-1">couldn't load stream</h2>
<% else  %>
  <h2 style="font-size: 30px; color:#fff" id="artist-data-1"><%= @stream1.metadata.artist %></h2>
  <h2 style="font-size: 20px; color:#eee" id="track-data-1"><%= @stream1.metadata.song %></h2>

<% end %>
