<h4>currently playing:</h4>
<h2 style="font-size: 30px; color:#fff" id="artist-data-2"><%= @stream2.metadata.artist %></h2>
<h2 style="font-size: 20px; color:#eee" id="track-data-2"><%= @stream2.metadata.song %></h2>
