<!-- PRELOADER -->
<div class="page-loader">
  <div class="loader">Loading..</div>
</div>
<!-- /PRELOADER -->

<!-- OVERLAY MENU -->
<div id="overlay-menu" class="overlay-menu">

  <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

  <div class="overlay-menu-inner">
    <nav class="overlay-menu-nav">

      <ul id="nav">

        <li class="slidedown">
          <a href="#">Select Channel</a>
        </li>

        <li class="slidedown">
          <a href="#">Favorites</a>
        </li>

        <li class="slidedown">
          <a href="#">FAQ</a>
        </li>

        <li><a href="contact.html">Contact</a></li>

      </ul>

    </nav>
  </div>

  <div class="overlay-navigation-footer">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
          <p class="copyright font-alt m-b-0">© Softsounds</p>
        </div>

      </div>

    </div>

  </div>

</div>
<!-- /OVERLAY MENU -->

<!-- WRAPPER -->
<div class="wrapper">

  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <!-- YOU LOGO HERE -->
        <!-- <a class="navbar-brand" href="index.html"> -->
          <span class="navbar-brand">softsounds</span>
          <!-- <img src="assets/images/logo-light.png" width="95" alt=""> -->
        <!-- </a> -->
      </div>

      <!-- ICONS NAVBAR -->
      <ul id="icons-navbar" class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="toggle-menu" class="show-overlay" title="Menu">
            <span id="menubox"></span>

          </a>
        </li>
      </ul>
      <!-- /ICONS NAVBAR -->

      <ul class="extra-navbar nav navbar-nav navbar-right">
        <li>
          <a href="#" title="Menu">
            Log In
          </a>
        </li>
        <li>
          <a href="#" title="Menu">
            Sign Up
          </a>
        </li>

      </ul>

    </div>

  </nav>
  <!-- /NAVIGATION -->

  <!-- HERO -->
  <section id="hero" class="module-hero module-full-height" data-background="softsounds.jpg">

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <!-- <h1 class="mh-line-size-1 m-b-50">softsounds</h1> -->
        <div id="stream-data"><h2 style="font-size: 30px; color:#fff"><%= @stream.metadata.artist %></h2>
        <h2 style="font-size: 20px; color:#eee"><%= @stream.metadata.song %></h2></div>
        <div id="song-info"><span id="info"></span><span id="heart-empty"></span></div>

      </div>

    </div>
    <!-- /HERO TEXT -->

  </section>
  <!-- /HERO -->

  <section class="footer">


      <section id="footer-player">

        <div id="speaker"><a href="javascript:;"></a></div>
        <div id="play-back"><a href="javascript:;"></a></div>
        <div id="play"><a href="javascript:;"></a></div>
        <div id="play-forward"><a href="javascript:;"></a></div>
        <div id="share"><a href="javascript:;"></a></div>

        <div id="jplayer" class="jp-jplayer"></div>

      </section>



  </section>

</div>
<!-- /WRAPPER -->
